<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @tip.id %>
</p>

<p>
  <b>Body:</b>
  <%= @tip.body %>
</p>

<p>
  <b>Indent:</b>
  <%= @tip.indent %>
</p>

<p>
  <b>Address:</b>
  <%= @tip.address %>
</p>

<p>
  <b>Tag:</b>
  <%= @tip.tag %>
</p>

<p>
  <b>Date:</b>
  <%= @tip.date %>
</p>


<% if current_user == @tip.user %>
hey
cuserid:<%= current_user.id %>
cuser:<%= current_user %>
tipuser:<%= @tip.user %>

<% end %>
<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>

